img {
    height: 100px;
}

img:hover {
    filter: invert(1);
    cursor: pointer;
}

#space {
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translateY(-50%);
}

#story {
    position: absolute;
    top: 50%;
    left: 600px;
    transform: translateY(-50%);
    width: 300px;
    font-size: 24pt;
}

a {
    color: red;
    text-decoration: none;
}

.link {
    display: inline-block;
}

.link:hover {
    transform: rotate(180deg);
}
